:root{

    --color01:#0D0D0D;
    --color02:#404040;
    --color03:#737373;
    --color04:#BFBFBF;
    --color05:#F2F2F2;

    --font01:'IBM Plex Mono', monospace;

}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');

body{
    background-color: var(--color01);
    color: var(--color05);
}

.window{
    border: 5px solid var(--color02);
    border-radius: 20px;
    margin: 1rem;
    padding: 1.5rem;
    min-height: 50vh;
    background-color: var(--color05);
}

.window__myName{
    text-align: center;
    letter-spacing:3rem ;
    font-size: 2rem;
    color: #0D0D0D;
}
.window__line{
    content: "";
    background-color: var(--color02);
    width: 97.5%;
    position: absolute;
    left: 17px;
    height: 5px;
    position: absolute;
    pad: 10rem;
}

#space{
    padding-bottom: 2rem;
}


@media (max-width: 768px) {
    .window__line{
        width: 90.5%;
    }
    .window__myName{
        letter-spacing:1rem ;
        font-size: 1rem;
    }
}
div.window span ul *{
    display: inline-block;
    margin-right: 10px;
    left: 2rem;
    content: "a";
    border: 7px solid var(--color02);
    background-color: 0;
    border-radius: 100%;
}
div.window span ul{
    position: absolute;
    top:1.6rem;
}





.window__content{
    
    display: flex;
    justify-content: center;

}
.window__content * {
    
    margin:1rem;
    
}
.content__img *{
    max-width: 20vw;
    border-radius: 10%;
}
.content__text{
    color: var(--color01);
    font-size: 1.5rem;
    font-family: var(--font01);
}


#spc1{
    margin-left:7rem ;
}
#spc2{
    margin-left:22rem ;
}

@media (max-width: 768px){
    .content__text{
    color: var(--color01);
    font-size: 1rem;
    font-family: var(--font01);
}
    #spc1{
        margin-left:0rem ;
    }
    #spc2{
        margin-left:0rem ;
    }
    .window__content{
        flex-wrap: wrap;
    }
    .window__content *{
font-size: .9rem;    }
.content__img img{
    max-width: 10rem;
}
}

#sobremim{
    font-size: 1rem;
}
#sobremim h2{
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* TESTES */

.projetos{
    background-color: var(--color05);
    color: var(--color01);
    margin-top: 3rem;
}

.projetos h2{
    font-size: 3rem;
    font-family: var(--font01);
    text-align: center;
    padding: 2rem;
    
}

.projetos__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projetos__links *{
    text-align: center;
    text-decoration: none;
    color: #0D0D0D;
    font-family: var(--font01);
    padding: 1rem;
}