:root{

    --color01:#0D0D0D;
    --color02:#404040;
    --color03:#737373;
    --color04:#BFBFBF;
    --color05:#F2F2F2;

}

body{
    background-color: var(--color01);
    color: var(--color05);
}

.window{
    border: 5px solid var(--color05);
    border-radius: 20px;
    margin: 1rem;
    padding: 1.5rem;
    min-height: 50vh;
}

.window__myName{
    margin-top: ;
    text-align: center;
    letter-spacing:3rem ;
    font-size: 2rem;
}



@media (max-width: 768px) {
    
}
